/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: lightgray;
    }
    section.banner{
        background-image: url(assets/assets/img/cerroa.png);
    width:100%;
    height: 400px;
    position:relative;
    background-size:cover;
    -webkit-background-size :relative;
    -moz-background-size :relative;
    -o-background-size :relative;
    -msn-background-size :relative;
    background-repeat :no-repeat;}