
<section class="border">
    <div class="container text-center">
        <div class="row">
          <div class="col-1">
          <img  class="foto" src="assets/assets/img/fotoA.jpeg" alt="foto" class="rounded-circle img-fluid">
          </div>
          <div class="col-10 mt-3">
          <h4 class="text-center mb-3"> ACERCA DE MI</h4>         
      <div class="col-12 mb-5">
      <h4>Soy Silvia Barbieri de Argentina y me encuentro incursionando en el mundo de la programacion, con todas las ganas de seguir aprendiendo!!!</h4>
    </div>
     </div>
      </div>
       </div>
    </section>