
<section id="experienciaLaboral" class="border">
    <div class="container">
    <div class="row">
      <div class="col-2">
        <img class="depi" src="assets/assets/img/break.jpg" alt="break">
      </div>
      <div class="col-8 mt-5">
        <h4 class="text-center mt-2"> EXPERIENCIA LABORAL</h4> 
        <div class="col-10 mt-5"></div>
        <h5 class="text-center"> Depibreak <p>Lomas de Zamora  Bs As</p> Desde: 2018 Hasta: Actualidad <br> Tarea desempeñada: Depiladora</h5>  
    </div>
     </div>
    <div class="row">
      <div class="col-2">
  <img  class="carrefourLogo" src="assets/assets/img/Carrefour-Logo.png" alt="carrefour">
        </div>
    <div class="col-10"></div>
    <div class="carex">
          <h5 class= "text-center pt-1">Carrefour<p>  Adrogue Bs As</p> Desde: 2010 Hasta: 2011<br> Tarea desempeñada: Cajera</h5>       
    </div>
  </div>
    <div class="row">
      <div class="col-2">
         <img  class="mc" src="assets/assets/img/mcdonalds_PNG5.png" alt="mac">
      </div>
      <div class="col-10"></div>
      <div class="macd">
        <h5 class="text-center pt1 mb-4"> Arcos Dorados S.A <p >C.A.B.A</p>  Desde: 1999 Hasta: 2003<br> Tarea desempeñada: Tareas generales</h5>
    </div>
    </div>
  