.depi{
    border-radius: 100%;
    margin-top: 60%;
    margin-left: -10%;
    width: 60%;
    height: 40%;
    }
    .carrefourLogo{
        border-radius: 10%;
        width: 80%;
        height: 60%;
        margin-top: 40%;
        margin-left: -20%;
    }
    .carex{
        margin-top: -10%;
    }
    .mc{
        width: 80%;
        height: 60%;
        margin-top: 30%;
        margin-bottom: 10%;
        margin-left: -18%;
    }
    .macd{
        margin-top: -10%;
    }