.cfp{
    width: 70%;
    height: 90%;
    border-radius: 20%;
    margin-left: -15%;
    margin-top: -7%;
}
.opc{
    margin-top: -10%;
}
.ap{
    width: 120%;
    height: 100%;
    margin-left: -25%;
}
.apr{
    margin-top: -6%;
}
.cui{
    width: 80%;
    height: 100%;
    margin-top: -6%;
    margin-left: -18%;
}
.cuil{
    margin-top: -8%;
}