
<section id="capacitacion" class="border">
    <div class="col-12 mt-5">
      <h4 class="text-center mt-2 mb-5"> CAPACITACION</h4>
      <div class="container">   
    <div class="row">
      <div class="col-2">
      <img class="cfp"src="assets/assets/img/cfp.jpg" alt="cefp">
      </div>
      <div class="col-10"></div>
    <div class="opc">
        <h5 class="text-center pt-1"> Operador de PC <br> Centro de Formacion Profesional 404 (1999)</h5>     
    <h5 class="text-center pt-1"> Sistema Tango Gestion<br> Centro de Formacion Profesional 404 (2002)</h5>
    <div class="row">
      <div class="col-2">
        <img class="ap"src="assets/assets/img/APLogo-20-20.png"> 
      </div>
      <div class="apr">
        <h5 class="text-center pt-1"> Argentina Programa #Se Programar (2022) Inti</h5>
        </div>
      </div>
     </div>
    </div>
    <div class="row">
      <div class="col-2">
        <img class="cui"src="assets/assets/img/CUI_0.png">
      </div>
      <div class="cuil">
        <h5 class="text-center"> Curso de Ingles level 2.0 (2023)<br>Centro Universitario de Idiomas (U.B.A)</h5>
        </div>
      </div>
  </div>
   </div>  
  </section>