
<section id="habilidades" class="border">
    <h4 class="text-center mt-5 mb-5">HARD SKILLS & SOFTS SKILLS</h4>
    <div class="container text-center">
      <div class="progress-circle-container">
      <div class="row align-items-start">
        <div class="col-4">
          <h5>HTML</h5>
  <div class="progress-circle progress-70"><span>70</span></div>
        </div>
        <div class="col-4">
         <h5> CSS</h5>
         <div class="progress-circle progress-65"><span>65</span></div>  
        </div>
        <div class="col-4">
         <h5>INGLES</h5>
          <div class="progress-circle progress-60"><span>60</span></div>
        </div>
         </div>
           </div>
            </div>
  </section>
  
